@import url('https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400;0,700;1,400;1,700&display=swap');
* {
    font-family: 'Arvo', serif;
}

/* 
    grau #c5c6c7
    schwarz #0b0c10
    türkis #66fcf1
    Dark Green #45A29E
*/
#informationImgTop{
    width: 100%;
    height: 40vh;
    object-fit:cover;
    object-position:bottom;
}
#information {
    width: 100%;
    /* border-top: #0b0c10 solid 6px; */
    /* border-top-left-radius: 15px; */
    background-color:#45A29E;
}

#informationInner{
    width: 90%;
    padding: 3vh 0;
}

.myNavLink {
    background-color: white;
    color: #0b0c10;
    border: #0b0c10 solid 1px;
    margin-top: 1vh;
    margin-bottom: 1vh;
}

button.myNavLink.active {
    background-color: #0b0c10 !important;
    color: #66fcf1 !important;
}

#v-pills-tabContent{
    width: 80%;
}


/* == TEACHERS */



.cardImg {
    width: 100%;
    height: 10rem;
    object-fit: cover;
    object-position: top;
}


#informationImgBottom{
    width: 100%;
    height: 40vh;
    object-fit:cover;
    object-position:top;
}
.navSpace {
    padding-top: 4em;
}
/* == MEDIA  */

@media screen and ( max-width: 768px){
    
    #informationImgTop, #informationImgBottom{
        height: 20vh;
    }

}

@media screen and ( max-width: 992px){
    
    #informationImgTop, #informationImgBottom{
        height: 30vh;
    }

}