<img src="..\..\assets\img\wave-information-top-gray.svg" id="informationImgTop">
<div id="information" class="navSpace">
    <h1 class="text-center text-white mb-5">About us</h1>
    <div class="d-sm-flex align-items-start justify-content-around m-auto" id="informationInner">
        <div class="nav flex-column nav-pills me-3" id="v-pills-tab" role="tablist" aria-orientation="vertical">
            <button class="nav-link myNavLink active" id="v-pills-home-tab" data-bs-toggle="pill"
                data-bs-target="#v-pills-home" type="button" role="tab" aria-controls="v-pills-home"
                aria-selected="true">Teachers</button>
            <button class="nav-link myNavLink" id="v-pills-profile-tab" data-bs-toggle="pill"
                data-bs-target="#v-pills-profile" type="button" role="tab" aria-controls="v-pills-profile"
                aria-selected="false">Location</button>
            <button class="nav-link myNavLink" id="v-pills-messages-tab" data-bs-toggle="pill"
                data-bs-target="#v-pills-messages" type="button" role="tab" aria-controls="v-pills-messages"
                aria-selected="false">Technologies</button>

        </div>
        <div class="tab-content m-auto" id="v-pills-tabContent">
            <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">
                <!-- * teachers -->
                <!-- extra div here is needed to make d-flex working with the other pills -->
                <div class="d-flex flex-wrap justify-content-center">

                    <div class="card m-2" style="width: 18rem;">
                        <img src="..\..\assets\img\teacher_2.jpg" class="card-img-top cardImg" alt="...">
                        <div class="card-body">
                            <p class="fw-bold">Georgina Garcia</p>
                            <p class="card-text">Founder & CEO of Angozilla. Experience in everything.</p>
                        </div>
                    </div>

                    <div class="card m-2" style="width: 18rem;">
                        <img src="..\..\assets\img\teacher_3.jpg" class="card-img-top cardImg" alt="...">
                        <div class="card-body">
                            <p class="fw-bold">Michael Sanders</p>
                            <p class="card-text">Our bookworm, who likes all JS Frameworks.</p>
                        </div>
                    </div>

                    <div class="card m-2" style="width: 18rem;">
                        <img src="..\..\assets\img\teacher_4.jpg" class="card-img-top cardImg" alt="...">
                        <div class="card-body">
                            <p class="fw-bold">Francis Morales</p>
                            <p class="card-text">Trainer since 2004 in Computer Science topics.</p>
                        </div>
                    </div>

                    <div class="card m-2" style="width: 18rem;">
                        <img src="..\..\assets\img\teacher_5.jpg" class="card-img-top cardImg" alt="...">
                        <div class="card-body">
                            <p class="fw-bold">Linda Wynona</p>
                            <p class="card-text">A lot of experience in training beginners.</p>
                        </div>
                    </div>
                </div>




                <!-- * end teachers-->
            </div>

            <div class="tab-pane fade" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">
                <!-- * location -->

                <div class="d-flex flex-wrap">
                    
                    <div class="card m-2"  style="width: 18rem;">
                        <img src="..\..\assets\img\location_1.jpg" alt=""  class="card-img-top">
                        <div class="card-body">
                            <p>Our office and training rooms are located in the heart of the city.</p>
                            <p>We are on the last floor of an former factory which is pretty cool.</p>
                        </div>
                    </div>

                    <div class="card m-2"  style="width: 18rem;">
                        <img src="..\..\assets\img\location_2.jpg" alt=""  class="card-img-top">
                        <div class="card-body">
                            <p>We have huge space for our courses and course members.</p>
                            <p>There are also several meeting rooms, which can be used for group work.</p>
                        </div>
                    </div>

                    <div class="card m-2"  style="width: 18rem;">
                        <img src="..\..\assets\img\location_3.jpg" alt=""  class="card-img-top">
                        <div class="card-body">
                            <p>Additionally you can spend your breaks during the course in our lovely canteen.</p>
                            
                        </div>
                    </div>
                
                
                </div>
                <!-- * end location -->
            </div>

            <div class="tab-pane fade" id="v-pills-messages" role="tabpanel" aria-labelledby="v-pills-messages-tab">
                <!-- * technologies -->

                <div class="d-flex flex-wrap">

                    <div class="card m-2"  style="width: 18rem;">
                        <img src="..\..\assets\img\technologies_1.jpg" alt=""  class="card-img-top">
                        <div class="card-body">
                            <p>We are a big supporter of pair programming.</p>
                            
                        </div>
                    </div>
                    
                    <div class="card m-2"  style="width: 18rem;">
                        <img src="..\..\assets\img\technologies_2.jpg" alt=""  class="card-img-top">
                        <div class="card-body">
                            <p>If you do not own a proper laptop, we can borrow you one for the course duration.</p>
                            
                        </div>
                    </div>
                    
                    <div class="card m-2"  style="width: 18rem;">
                        <img src="..\..\assets\img\technologies_3.jpg" alt=""  class="card-img-top">
                        <div class="card-body">
                            <p>You also improve your presenting skills.</p>
                            
                        </div>
                    </div>
                    
                </div>

                <!-- * end technologies -->
            </div>

        </div>
    </div>

</div>
<img src="..\..\assets\img\wave-information-bottom-new.svg" id="informationImgBottom">
