<header>
    <div class="companyContainer">
        <div class="imgContainer">
            <img src="../../assets/img/iconEye2.png">
        </div>
        <h1>angu<span>ZILLA</span></h1>
    </div>
    <nav>
        <ul>
            <!-- <li>
                <a href="#">our mission</a>
            </li> -->
            <li>
                <a href="#">news & updates</a>
            </li>
            <li>
                <a href="#">testimonials</a>
            </li>
            <li>
                <a href="#">courses</a>
            </li>
            <li>
                <a href="#">about us</a>
            </li>
        </ul>
    </nav>
</header>