@import url('https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400;0,700;1,400;1,700&display=swap');
/* General Rules */

* {
    padding: 0;
    margin: 0;
    /* border: 1px solid red; */
}

header {
    /* position: sticky; */
    position: fixed;
    top: 0;
    z-index: 1000;
    display: flex;
    justify-content: space-around;
    width: 100%;
    background-color: #0B0C10;
}

/* Company Name/Logo - Section */

.companyContainer {
    cursor: pointer;
    display: flex;
    align-items: center;
    margin-left: 1.5em;
}

.companyContainer .imgContainer {
    height: 5em;
    width: 5em;
    overflow: hidden;
}

.companyContainer .imgContainer img {
    transform: scaleX(-1);
    width: 100%;
    height: 100%;
    object-fit: contain;
    filter: invert(100%);
}

.companyContainer h1 {
    margin-left: 0.5em;
    font-size: 2em;
    font-family: 'Arvo', serif;
    color: white;
}

.companyContainer h1 span {
    font-weight: 600;
}

/* Icon - Menu */

.companyContainer a  {
    display: none;
    margin-left: 2em;
}

.companyContainer a img {
    width: auto;
    height: 5em;
}

/* Navigation - Section */

header nav {
    margin: auto 0;
}

header nav ul {
    display: flex;
    list-style-type: none;
}

header nav ul li {
    margin-left: 2em;
}

header nav ul li a {
    position: relative;
    padding-bottom: 0.5em;
    font-family: 'Arvo', serif;
    font-size: 1.1rem;
    text-decoration: none;
    color: #66FCF1;
}

nav ul li a.left:before {
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #66FCF1;
    visibility: hidden;
    transition: all 0.3s ease-in-out;
}

nav ul li a.left:hover:before {
    visibility: visible;
    width: 100%;
}

/* Media Query Mobile */

/* Extra small devices (phones, 600px and down) */

@media only screen and (max-width: 1050px) {
    /*Navbar - Section */
    header {
        flex-direction: column;
        align-items: center;
    }
    header nav {
        display: none;
    }
    header nav ul {
        flex-direction: column;
    }
    header nav ul li {
        margin-bottom: 2em;
    }
    header nav ul li a {
        font-size: 1.5em;
    }
    /* Menu Icon */
    .companyContainer a {
        display: block;
    }
}