<header>
    <div href="#hero" class="companyContainer">
        <div class="imgContainer">
            <img src="../../assets/img/iconEye2.png">
        </div>
        <h1>angu<span>ZILLA</span></h1>

        <a class="btn" (click)="showHide()">
            <!-- <div> -->
                <img src="../../assets/img/iconBarsFree.png">
            <!-- </div> -->
        </a>
    </div>

    <nav id="myLinks">
        <ul>
            <li>
                <a class="left" href="#courseTopic">why angular</a>
            </li>
            <li>
                <a class="left" href="#information">about us</a>
            </li>
            <li>
                <a class="left" href="#testimonials">testimonials</a>
            </li>
            <li>
                <a class="left" href="#courses">corses & prices</a>
            </li>
            <li>
                <a class="left" href="#newsUpdates">news & updates</a>
            </li>
        </ul>
    </nav>
</header>

<script>

</script>