@import url("https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400;0,700;1,400;1,700&display=swap");
* {
  font-family: "Arvo", serif;
}
#hero_svg {
  width: 100%;
}
#hero-person {
  width: 50%;
}

#hero-person img{
  width: 100%;
}

/* Varient 4  for gradient was chosen after a few trials for best style*/
/* tool used was cssgradient.io */
.gradient {
  background: rgb(31, 40, 51);
  background: linear-gradient(
    90deg,
    rgba(31, 40, 51, 1) 0%,
    rgba(102, 252, 241, 1) 100%
  );
}
