

<div class="container-fluid  py-5 h-100" id="courseTopic">
  <div class="container">
    <div class="row align-items-center justify-content-center mt-3 ps-5">
      <div
        class="col-11 d-flex justify-content-center special text-color-choice"
      >
        <h1 class="text-color-choice mt-3 mb-3 d-flex">
          What is Angular and why you should learn it?
        </h1>
      </div>
      <div class="col-10 d-flex justify-content-center special h-100 mb-5">
        <p class="fs-5">
          Designed by Google in 2009, Angular JS has become one of the most
          popular JavaScript frameworks so far as it is easy to use, provides
          high simplification to the entire development process as well as
          supports the latest standards of JavaScript (ES6). Over the years, it
          has become one of the most refined frameworks to create web and mobile
          apps that is modular as well as responsive.
        </p>
      </div>
    </div>
      <!-- <div class="videoContainer pt-5">
        <iframe
          class="responsive-iframe align-self-center"
          src="https://www.youtube.com/embed/PfCbGCYAIYg"
        ></iframe>
      </div> -->

      <div id="myContainer">
        <div class="ratio ratio-4x3 imageClass">
          <iframe
            src="https://www.youtube.com/embed/PfCbGCYAIYg"
            title="YouTube video"
            allowfullscreen
          ></iframe>
        </div>
      </div>


  </div>
</div>



<!--  youtubeplayer mudule   -->
<!-- video id: PfCbGCYAIYg  -->
<!-- 
<div class="container-fluid " id="video">
  <div class="row align-items-center justify-content-center ">
    <div class="col-12 d-flex justify-content-center ">

      <youtube-player
        videoId="PfCbGCYAIYg"
        suggestedQuality="highres"
        [height]="350"
        [width]="700"
        [startSeconds]="4"
        [endSeconds]="8"
      >
      </youtube-player>

    </div>
  </div>
</div> -->
