@import url("https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400;0,700;1,400;1,700&display=swap");
* {
  font-family: "Arvo", serif;
}
.text-color-choice {
  color: #45a29e;
}
#courseTopic {
  background-color: #c5c6c7;
}

/* ================styling the iframe============== */


#myContainer{
  width: 100%;
  min-height: 20%;
}
.imageClass{
  width:50%;
  margin:auto
}


/* ================ incomplete solutions for the iframe============== */


/* .videoContainer {
  width: 50vw;
  display: grid;
  grid-template-rows: 35vh;
  margin: auto;
}

.responsive-iframe {
  width: 100%;
  height: 150%;
} */



/* .my-container {
  position: relative;
  overflow: hidden;
  width: 100%;
  padding-top: 56.25%; /*16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */
/* } */


