/* General Rules */

* {
    margin: 0;
    padding: 0;
}

/* Footer - Section */

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: #0B0C10;
}

footer div {
    margin: 1em 0;
}

footer div ul {
    display: flex;
    list-style-type: none;
}

li {
    cursor: pointer;
}

li:first-child {
    margin-right: 1em;
}

li a {
    transition: all 0.2s ease-in-out;
}

li > a, p {
    font-family: 'Arvo', serif;
    color: #C5C6C7;
    text-decoration: none;
}

ul li a:hover {
    color: white;
}

p {
    text-align: center;
}