@import url('https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400;0,700;1,400;1,700&display=swap');
* {
    font-family: 'Arvo', serif;
}

.wrapper {
    background-color: #45A29E;
    border: solid 0.5em rgba(5, 5, 5, 0.7);
    box-shadow: 0.75em 0.5em 0.5em #1F2833;
    border-radius: 0.8em;
    display: flex;
    align-self: center;
    align-items: center;
    justify-content: center;
    height: 30vh;
}

h1 {
    text-align: center;
    color: #C5C6C7;
}

p {
    text-align: center;
}

/*  MQ  */

@media screen (max-width: 576px) {
    .wrapper {
        height: 80vh;
        width: 50vw;
    }
}

@media screen and (min-width: 576px) and (max-width: 768px) {
    .wrapper {
        height: 40vh;
        width: 80vw;
    }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
    .wrapper {
        height: 40vh;
        width: 60vw;
    }
}