<div class="container wrapper d-flex flex-column m-auto">
    <div class="headingWrapper">
        <h1>What is Angular and why should you learn it?</h1>
        <p>Designed by Google in 2009, Angular JS has become one of the most popular JavaScript frameworks so far as it is easy to use, provides high simplification to the entire development process as well as supports the latest standards of JavaScript (ES6). Over the years, it has become one of the most refined frameworks to create web and mobile apps that is modular as well as responsive.</p>
    </div>
</div>
