<!-- Testimonials -->
<div id="testimonials" class="p-4">
    <h1 class="text-center navSpace mb-5">What our students say about us</h1>

    <div class="testimonialContainer d-flex flex-column m-auto">
        <!-- contains all testimonials -->
        <div class="testimonial d-flex flex-column flex-sm-row justify-content-around m-2 p-3 border-bottom">
            <img src="..\..\assets\img\testimonial_1.jpg" class="d-block" alt="...">
            <div class="mx-3">
                <div class="testimonialName">Hanna Mayer</div>
                <div class="testimonialJob">Junior FrontEnd Developer</div>
                <div class="testimonialReview">This course really helped me getting a job. It is very good structured, and in seven days you learn easily to understand Angular.</div>
            </div>
        </div>

        <div class="testimonial d-flex flex-column flex-sm-row justify-content-around m-2 p-3 border-bottom">
            <img src="..\..\assets\img\testimonial_2.jpg" class="d-block order-1 order-sm-2" alt="...">
            <div class="mx-3 order-2 order-sm-1">
                <div class="testimonialName">John Moeller</div>
                <div class="testimonialJob">Software Architect</div>
                <div class="testimonialReview">Was a good addition to my previous knowledge. Although I don't need it for my actual job, it's good to know and understand the basics of the Angular framework.</div>
            </div>
        </div>

        <div class="testimonial d-flex flex-column flex-sm-row justify-content-around m-2 p-3 border-bottom">
            <img src="..\..\assets\img\testimonial_3.jpg" class="d-block" alt="...">
            <div class="mx-3">
                <div class="testimonialName">Cathlyn Sandbush</div>
                <div class="testimonialJob">Fullstack Developer</div>
                <div class="testimonialReview">I did the advanced course last June - helped me with getting a new job and leave Junior Level. Liked the course location as well.</div>
            </div>
        </div>

    </div>
    
</div>

