@import url('https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400;0,700;1,400;1,700&display=swap');


#plans,#plans ul,#plans ul li {
	margin: 0;
	padding: 0;
	list-style: none;
}

/* #pricePlans:after {
	content: '';
	display: table;
	clear: both;
} */


#pricePlans {
	max-width: 69em;
	margin: 0 auto;
	zoom: 1;
}

/* section ul li */
#pricePlans #plans .plan {
	background: rgba(189, 225, 226, 0.308);
	float: left;
	width: 100%;
	text-align: center;
	border-radius: 5px;
	margin: 0 0 20px 0;

	-webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.1);
	box-shadow: 0 1px 3px rgba(190, 158, 158, 0.1);
}

.planContainer .title h2 {
	font-size: 2em;
	font-weight: 300;
	color: #202833;
	margin: 0;
	padding: .6em 0;
    font-weight: 500;
    text-shadow: 1px 1px 3px #66FCF1;
}

.planContainer .price p {
	background: #202833;

	background: -webkit-linear-gradient(top, #475975, #364761);
	background: -moz-linear-gradient(top, #475975, #364761);
	background: -o-linear-gradient(top, #475975, #364761);
	background: -ms-linear-gradient(top, #475975, #364761);
	background: linear-gradient(top, #475975, #364761);
	color: #fff;
	font-size: 1.2em;
	font-weight: 700;
	height: 2.6em;
	line-height: 2.6em;
	margin: 0 0 1em;
}

/* second & fourth col */
.planContainer .price p.bestPlanPrice {
	background: #45A29E;
}


.planContainer .options li {
	font-weight: 500;
	color: #364762;
	line-height: 2.5;
}

.planContainer .button a {
	text-transform: uppercase;
	text-decoration: none;
	color: #202833;
	font-weight: 700;
	letter-spacing: 3px;
	line-height: 2.8em;
	border: 2px solid #202833;
	display: inline-block;
	width: 80%;
	height: 2.8em;
	border-radius: 4px;
	margin: 1.5em 0 1.8em;
}

/* second & fourth col */
.planContainer .button a.bestPlanButton {
	color: rgb(0, 0, 0);
	border: 2px solid #45A29E;
}

#courses {
	margin-top: 7em;
	font-family: 'Arvo', serif;
}

.head2 {
	color: #45A29E;
}


/* media */
@media screen and (min-width: 481px) and (max-width: 768px) {

#pricePlans #plans .plan {
	width: 49%;
	margin: 0 2% 20px 0;
}

#pricePlans #plans > li:nth-child(2n) {
	margin-right: 0;
}

}

@media screen and (min-width: 769px) and (max-width: 1024px) {

#pricePlans #plans .plan {
	width: 49%;
	margin: 0 2% 20px 0;
}

#pricePlans #plans > li:nth-child(2n) {
	margin-right: 0;
}

}

@media screen and (min-width: 1025px) {

#pricePlans {
	margin: 2em auto;
}

#pricePlans #plans .plan {
	width: 24%;
	margin: 0 1.33% 20px 0;

	-webkit-transition: all .25s;
	   -moz-transition: all .25s;
	    -ms-transition: all .25s;
	     -o-transition: all .25s;
	        transition: all .25s;
}

#pricePlans #plans > li:last-child {
	margin-right: 0;
}

#pricePlans #plans .plan:hover {
	-webkit-transform: scale(1.04);
	   -moz-transform: scale(1.04);
	    -ms-transform: scale(1.04);
	     -o-transform: scale(1.04);
	        transform: scale(1.04);
}

.planContainer .button a {
	-webkit-transition: all .25s;
	   -moz-transition: all .25s;
	    -ms-transition: all .25s;
	     -o-transition: all .25s;
	        transition: all .25s;
}

.planContainer .button a:hover {
	background: #202833;
	color: #fff;
}

.planContainer .button a.bestPlanButton:hover {
	background: #66FCF1;
	border: 2px solid #202833;
    color:black;
}

}



