<div id="courses">
    <section id="pricePlans">
        <!-- title -->
        <div class="text-center mb-5">
            <h2 class="fw-bold head2 navSpace">Choose your course</h2>
            <small class="text-secondary">30 day money back guarantee</small>
        </div>
        <ul id="plans">  <!-- Start ul#plans -->

            <!-- first col -->
            <li class="plan">
                <ul class="planContainer">
                    <li class="title"><h2>Angular For Beginners</h2></li>
                    <li class="price"><p>$1500</p></li>
                    <li>
                        <ul class="options">
                            <li><span>Introduction To Angular</span> </li>
                            <li>First Angular Component</li>
                            <li>Component Inputs</li>
                            <li>Angular ngIf Directive</li>
                            <li>ngSwitch</li>
                            <li>Built-In Pipes</li>
                            <li>Angular Injectable Services</li>
                            <hr>
                            <li>21 lessons</li>
                        </ul>
                    </li>
                    <li class="button"><a href="https://codefactory.wien/en/home-en/" target="_blank">ORDER NOW</a></li>
                </ul>
            </li>
            
            <!-- second col -->
            <li class="plan">
                <ul class="planContainer">
                    <li class="title"><h2 class="bestPlanTitle">Angular Deep Dive</h2></li>
                    <li class="price"><p class="bestPlanPrice">$3000</p></li>
                    <li>
                        <ul class="options">
                            <li><span>@Injectable Services</span></li>
                            <li><span>@ViewChild and AfterViewInit</span></li>
                            <li><span>ngTemplateOutlet</span></li>
                            <li><span>View Encapsulation modes</span></li>
                            <li><span>@Host</span></li>
                            <li><span>Hierarchical Injector</span></li>
                            <li><span>Angular Elements</span></li>
                            <hr>
                            <li>77 lessons</li>
                        </ul>
                    </li>
                    <li class="button"><a class="bestPlanButton" href="https://codefactory.wien/en/home-en/" target="_blank">ORDER NOW</a></li>
                </ul>
            </li>
            
            <!-- third col -->
            <li class="plan">
                <ul class="planContainer">
                    <li class="title"><h2>Angular Forms In Depth</h2></li>
                    <li class="price"><p>$2500</p></li>
                    <li>
                        <ul class="options">
                            <li><span>Angular Forms</span></li>
                            <li><span>Form validation rules</span></li>
                            <li><span>ngModelOptions</span></li>
                            <li><span>FormBuilder service</span></li>
                            <li><span>formGroup and formControl</span></li>
                            <li><span>Reusable nested forms</span></li>
                            <li><span>Form Arrays</span></li>
                            <hr>
                            <li>56 lessons</li>
                        </ul>
                    </li>
                    <li class="button"><a href="https://codefactory.wien/en/home-en/" target="_blank">ORDER NOW</a></li>
                </ul>
            </li>

            <!-- fourth col -->
            <li class="plan">
                <ul class="planContainer">
                    <li class="title"><h2>Angular Security Course</h2></li>
                    <li class="price"><p  class="bestPlanPrice">$1500</p></li>
                    <li>
                        <ul class="options">
                            <li><span>How to Adjust Video Speed</span></li>
                            <li><span>Client Side Service</span></li>
                            <li><span>Design and Implementation</span></li>
                            <li><span>Implement a Password Policy</span></li>
                            <li><span>Browser Cookies </span></li>
                            <li><span>JSON Web Tokens </span></li>
                            <li><span>Angular RBAC Authorization</span></li>
                            <hr>
                            <li>35 lessons</li>
                        </ul>
                    </li>
                    <li class="button"><a class="bestPlanButton" href="https://codefactory.wien/en/home-en/" target="_blank" >ORDER NOW</a></li>
                </ul>
            </li>
        </ul> <!-- End ul#plans -->
    </section>
</div>