@import url('https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400;0,700;1,400;1,700&display=swap');
* {
    font-family: 'Arvo', serif;
    margin: 0 auto;
}
/* Top Wave */
#informationImgTop{
    width: 100%;
    height: 40vh;
    object-fit: cover;
    object-position: bottom;
}
/* Header */
.alert {
    background-color: #45A29E;
    color: white;
    text-align: center;
    font-weight: bold;
    font-size: 2em;
    border-color:#45A29E;
    word-spacing: 0.2em;
    padding-bottom: 10vh;
}

#newsUpdates {
    background-color:#45A29E;
    margin: 0;
    padding-bottom: 5vh;
}
.btn {
    border-color: #0B0C10;;
    background-color: #C5C6C7;
    color: #0B0C10;
    margin-top: 0.8rem;
}

.btn:hover {
    background-color: #66fcf1;
}

.card {
    background-color: #C5C6C7;
    color: #0B0C10;
    /* border-color: #66fcf1; */
    border: 5px solid rgb(102, 252, 241, 0.4);
    margin-left: 3rem;
    margin-right: 2rem;
}

img{
    min-height: 10vh;
    height: 20vh;
    object-fit: cover;
}

/* Bottom Wave */
#informationImgBottom{
    width: 100%;
    height: 40vh;
    object-fit:cover;
    object-position:top;
}


/*  MQ  */

@media screen and (min-width: 481px) and (max-width: 768px) {
    .card {
        width: 49%;
        margin: 0 2% 20px 0;
        padding-bottom: 5%;
    }
}

@media screen and ( max-width: 992px){
    .card {
        margin-left: 20%;
        padding-bottom: 5%;
    }
}