<!-- Wave Top-->
<img src="..\..\assets\img\wave-information-top.svg" id="informationImgTop">
<div id="newsUpdates">

<!-- Header -->
<div class="alert alert-secondary text-capitalize navSpace" role="alert">
    news from the coding world
</div>
<!-- Cards for News -->
<div class="row mt-3">
    <div *ngFor="let news of newsUpdates" class="col-12 col-md-6 col-lg-3 d-flex align-items-strech">
        <div class="card text-center" style="width: 15rem;">
            <img src="{{ news.img }}" class="card-img-top" alt="...">
            <div class="card-body">
                <details>
                    <summary><h5 class="card-title">{{news.topic}}</h5></summary>
                    <p class="card-text">{{news.text}}</p>
                </details>
                <a href="{{ news.link }}" target="_blank" class="btn btn-primary">Read more</a>
            </div>
        </div>
    </div>
</div>
</div>
<!-- Wave Bottom -->
<img src="..\..\assets\img\wave-information-bottom.svg" id="informationImgBottom">

